﻿@model Train.AskMe.MVC.Models.RulesReportViewModel

@{
    ViewBag.Title = "All Approved Rules";
}

<h2>Approved Rules Report</h2>

<br />
<table style="width:60%;font-size:large" class="SummaryTable">
    <tr>
        <td width="16%">
            <strong>Approved:</strong>
        </td>
        <td width="16%" align="left">
            @Html.DisplayFor(modelItem => Model.ApprovedRulesCount)
        </td>
        <td width="16%">
            <strong>Rejected:</strong>
        </td>
        <td width="16%" align="left">
            @Html.DisplayFor(modelItem => Model.RejectedRulesCount)
        </td>
        <td width="16%">
            <strong>Success:</strong>
        </td>
        <td width="16%" align="left">
            @Html.DisplayFor(modelItem => Model.SuccessRate)
        </td>
    </tr>
</table>
<br />
<table Font-Size="Small" class="table">
    <tr>
        <th>
            @Html.Label("Question")
        </th>
        <th>
            @Html.Label("Type")
        </th>
        <th>
            @Html.Label("Answer")
        </th>
        <th>
            @Html.Label("Created By")
        </th>
        <th>
            @Html.Label("Modified By")
        </th>
        <th>
            @Html.Label("Created Date")
        </th>
        <th>
            @Html.Label("Modified Date")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ApprovedRules)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
        </tr>
    }

</table>
