﻿@model Train.AskMe.MVC.Models.EditorsReportViewModel
@{
    ViewBag.Title = "Editors Statistics";
}

<h2>Editors Statistics</h2>
<br />
<table style="width:30%;font-size:large" class="SummaryTable">
    <tr>
        <td width="50%">
            <strong>Average Success:</strong>
        </td>
        <td width="50%" align="left">
            @Html.DisplayFor(modelItem => Model.Average)
        </td>
    </tr>
</table>
<br />
<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Approved")
        </th>
        <th>
            @Html.Label("Rejected")
        </th>
        <th>
            @Html.Label("Pending")
        </th>
        <th>
            @Html.Label("Success")
        </th>
    </tr>

    @foreach (var item in Model.Editors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedRulesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RejectedRulesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendingRulesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuccessRate)
            </td>
        </tr>
    }

</table>

