﻿@model Train.AskMe.MVC.Models.RulesReportViewModel

@{
    ViewBag.Title = "All Rejected Rules";
}

<h2>All Rejected Rules</h2>

<br />
<table Font-Size="Small" class="table">
    <tr>
        <th>
            @Html.Label("Question")
        </th>
        <th>
            @Html.Label("Type")
        </th>
        <th>
            @Html.Label("Answer")
        </th>
        <th>
            @Html.Label("Created By")
        </th>
        <th>
            @Html.Label("Modified By")
        </th>
        <th>
            @Html.Label("Created Date")
        </th>
        <th>
            @Html.Label("Modified Date")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RejectedRules)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
        </tr>
    }

</table>

