﻿@model IEnumerable<Train.AskMe.DataBase.Library.Rule>
@using Train.AskMe.MVC.Controllers
@using Train.AskMe.DataBase.Library

<link type="text/css" rel="stylesheet" href="~/Scripts/waikiki.css">
<script src="~/Scripts/selection.js"></script>

@{
    const string HEADER = "Pending Rules";
    const string ROWID_PREFIX = "row_";
    const string CLASS_NAME = "selectableRow";

    ViewBag.Title = "Approver";

}

<h2>@HEADER</h2>
<br />

<div class="table">
    <div class="headerRow">
        <div class="headerCell wideCell">Question</div>
        <div class="headerCell wideCell">Answer</div>
        <div class="headerCell thinCell">Modified By</div>
        <div class="headerCell thinCell">Status</div>
    </div>

    @foreach (var rule in Model)
    {
        string rowId = ROWID_PREFIX + rule.RuleId;
        string modifier = rule.ModifiedBy.FirstName + " " + rule.ModifiedBy.LastName;
        string status = "PENDING";

        <div class="@CLASS_NAME" id="@rowId">
            <div class="cell wideCell">@rule.Question</div>
            <div class="cell wideCell">@rule.Answer</div>
            <div class="cell thinCell">@modifier</div>
            <div class="cell thinCell">@status</div>
        </div>
    }

</div>
<form action="/Approver/Decide" method="post">
    <input type="text" id="selectedVar" name="selected" value=@null hidden />
    <button name="button" class="btn btn-primary" value="@Decision.APPROVE">Approve</button>
    <button name="button" class="btn btn-warning" value="@Decision.REJECT">Reject</button>
</form>