﻿@model Train.AskMe.MVC.Models.SubmittedQuestionViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-primary">Train.AskMe</h1>
    <p class="lead">Hello, my name is Kathy, the Light Rail help robot. Do you have any question for me?</p>
    <div class="form-horizontal">
        <div class="form-group">
            
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "lead" }))
            {
            <div class="lead">

                @Html.LabelFor(model => model.Question, "Please type your question", new { @class = "font" })

                @Html.TextBoxFor(model => model.Question, new { @class = "wide-text", @placeholder = "eg. What is the Star stop number?", @required = "true" })
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                <br />

                @Html.AntiForgeryToken()
            </div>
                <div>

                </div>
                <div class="lead">
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
                   
                </div>
                <div class="lead">
                    @Html.LabelFor(model => model.Answer, "Result:")
                    <p class="alert-warning"> @Html.DisplayFor(model => model.Answer) </p>

                </div>

            }
        </div>

    </div>
   </div>

