﻿@model Train.AskMe.DataBase.Library.User
@using  Train.AskMe.BusinessLogic

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AspNetUserId)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Roles", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Editor",Model.AspNetUser.AspNetRoles.Where(r=>r.Id.Equals(DataService.EditorRoleId.ToString(), StringComparison.InvariantCultureIgnoreCase)).FirstOrDefault()!=null, new { htmlAttributes = new { @class = "form-control", @value = DataService.EditorRoleId } })
                @Html.Label("Editor")
                &nbsp;
                @Html.CheckBox("Approver", Model.AspNetUser.AspNetRoles.Where(r => r.Id.Equals(DataService.ApproverRoleId.ToString(), StringComparison.InvariantCultureIgnoreCase)).FirstOrDefault() != null, new { htmlAttributes = new { @class = "form-control", @value = DataService.ApproverRoleId } })
                @Html.Label("Approver")
                &nbsp;
                @Html.CheckBox("DataMaintainer", Model.AspNetUser.AspNetRoles.Where(r => r.Id.Equals(DataService.DatamaintainerRoleId.ToString(), StringComparison.InvariantCultureIgnoreCase)).FirstOrDefault() != null, new { htmlAttributes = new { @class = "form-control", @value = DataService.DatamaintainerRoleId } })
                @Html.Label("Data Maintainer")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
