﻿@using Train.AskMe.MVC
@if (Request.IsAuthenticated)
{
    <li>
        <a class="inner-menu fa fa-file-o" href="#">Rules <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @if (User.Identity.IsEditor())
            {
                <li>
                    @Html.ActionLink("Create Rule", "Create", "Rules", routeValues: null, htmlAttributes: new { title = "Create a new rule" })
                </li>
                <li>
                    @Html.ActionLink("View/Edit Rules", "Index", "Rules", routeValues: null, htmlAttributes: new { title = "View all rules" })
                </li>
            }
            @if (User.Identity.IsApprover())
            {
                <li>
                    @Html.ActionLink("Approve/Reject Rule", "Index", "Approver", routeValues: null, htmlAttributes: new { title = "View Editor's Stats Report" })
                </li>
            }

        </ul>
    </li>
    if (User.Identity.IsApprover() || User.Identity.IsEditor())
    {
        <li>
            <a class="inner-menu fa fa-file-o" href="#">Reports<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (User.Identity.IsEditor())
                {
                    <li>
                        @Html.ActionLink("My Stats", "Index", "Reports", routeValues: null, htmlAttributes: new { title = "View Editor's Report" })
                    </li>
                    <li>
                        @Html.ActionLink("Pending/Rejected Rule", "Index", "Editor", routeValues: null, htmlAttributes: new { title = "Create a new rule" })
                    </li>
                }
                @if (User.Identity.IsApprover())
                {
                    <li>
                        @Html.ActionLink("Editors Stats Report", "EditorsStats", "Reports", routeValues: null, htmlAttributes: new { title = "View Editor's Stats Report" })
                    </li>
                    <li>
                        @Html.ActionLink("Approved Report", "Approved", "Reports", routeValues: null, htmlAttributes: new { title = "View Editor's Stats Report" })
                    </li>
                }
            </ul>
        </li>
    }
    if (User.Identity.IsDataMaintainer())
    {
        <li>
            <a class="inner-menu fa fa-file-o" href="#">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("All Stops", "Index", "Stops", routeValues: null, htmlAttributes: new { title = "View all train stops" })
                </li>
                <li>
                    @Html.ActionLink("All Users", "Index", "Users", routeValues: null, htmlAttributes: new { title = "View/manage registered users" })
                </li>
            </ul>
        </li>
    }
}
