﻿﻿
.table {
    display: table;
    border-collapse: collapse;
}


.selectableRow, .unSelectableRow {
    display: table-row;
    background-color: white;
}



.headerRow {
    display: table-row;
    /*background-color: black;*/
}


.highlightRow {
    display: table-row;
    background-color: cornsilk;
}


.cell, .headerCell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    text-align: left;
}



.cell {
    border-color: aquamarine;
    color: black;
}


.headerCell {
    /*border-color: black;
    color: white;*/
    font-weight: bold;
    
}


.thinCell {
    width: 10%;
}


.wideCell {
    width: 20%;
}


#buttons {
    display: block;
    position: relative;
    height: 100px;
}


#leftPlacedButtons {
    display: block;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
}


#rightPlacedButtons {
    display: block;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
}











