﻿@model IEnumerable<Train.AskMe.DataBase.Library.Rule>
@using Train.AskMe.MVC.Controllers
@using Train.AskMe.DataBase.Library

<link type="text/css" rel="stylesheet" href="~/Scripts/waikiki.css" />
<script src="~/Scripts/selection.js"></script>

@{
    const string SELECTABLE_ROW = "selectableRow";
    const string UNSELECTABLE_ROW = "unSelectableRow";
    const string ROWID_PREFIX = "row_";

    string header = null;
    string className = null;

    ViewBag.Title = "Editor";

    if (ViewBag.Mode == ListMode.PENDING)
    {
        header = "Pending Rules";
        className = SELECTABLE_ROW;
    }
    else
    {
        header = "Rejected Rules";
        className = UNSELECTABLE_ROW;
    }
}

<h2>@header</h2>
<br />
<div class="table">
    <div class="headerRow">
        <div class="headerCell wideCell">Question</div>
        <div class="headerCell wideCell">Answer</div>
        <div class="headerCell thinCell">Modified By</div>
        <div class="headerCell thinCell">Status</div>
    </div>

    @foreach (var rule in Model)
    {
        string rowId = ROWID_PREFIX + rule.RuleId;
        string modifier = rule.ModifiedBy.FirstName + " " + rule.ModifiedBy.LastName;
        string status = null;

        if ((QStatus)rule.Status == QStatus.Pending)
        {
            status = "PENDING";
        }
        else if ((QStatus)rule.Status == QStatus.Rejected)
        {
            status = "REJECTED";
        }
        else
        {
            status = "APPROVED";
        }
        
        <div class="@className" id="@rowId">
            <div class="cell wideCell">@rule.Question</div>
            <div class="cell wideCell">@rule.Answer</div>
            <div class="cell thinCell">@modifier</div>
            <div class="cell thinCell">@status</div>
        </div>
    }

</div>
<div id="buttons">
    <div id="leftPlacedButtons">
        <form action="/Editor/Index" method="post">
            @if (ViewBag.Mode == ListMode.PENDING)
            {
                <button name="button" class="btn btn-primary" value="@ListMode.REJECTED">View Rejected Rules</button>
            }
            else
            {
                <button name="button" class="btn btn-primary" value="@ListMode.PENDING">View Pending Rules</button>
            }


        </form>
    </div>
   
</div>




