﻿@model Train.AskMe.DataBase.Library.Rule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.AspNetUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy.AspNetUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RuleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
