﻿@model IEnumerable<Train.AskMe.DataBase.Library.Rule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.Label("Created By")
        </th>
        <th>
            @Html.Label("Modified By")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RuleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RuleId })
        </td>
    </tr>
}

</table>
